# Игнорируем виртуальные окружения
.venv/
venv/

# Игнорируем файлы настроек среды
.env

# Игнорируем логи бота и тестов
*.log

# Игнорируем папку с кэшем котировок (чтобы не пушить гигабайты данных)
test/data_cache/

# Игнорируем сгенерированные графики тестов
*.html