# Кэш Python (тот самый мусор)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Локальное виртуальное окружение (папка с библиотеками на ноуте)
venv/
.venv/
env/
ENV/

# Конфиденциальные данные (файлы, где лежат токены и ключи)
.env
config.json
*.env

# Локальные файлы данных и логи (чтобы пустой сбросить на сервер)
*.log
healthyplayers.csv