# Игнорируем виртуальные окружения
.venv/
venv/

# Игнорируем файлы настроек среды
.env

# Игнорируем логи бота и тестов
*.log

# Игнорируем папку с кэшем котировок (чтобы не пушить гигабайты данных)
test/data_cache/

# Игнорируем сгенерированные графики тестов
*.html

# Кэш Python (тот самый мусор)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
cache_*.csv

# Локальное виртуальное окружение (папка с библиотеками на ноуте)
venv/
.venv/
env/
ENV/

# Конфиденциальные данные (файлы, где лежат токены и ключи)
.env
config.json
*.env

# Локальные файлы данных и логи (чтобы пустой сбросить на сервер)
*.log
healthyplayers.csv